.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa a {
  text-decoration: none;
  color: #00f
}

.caixa a:hover {
  color: #757575;
}

.texto{
  color: #555;
  font-size: 1em;
}